/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
}

.grupoSubgrupos {
  display: flex;
  overflow-x: auto;
  gap: 3px;
  flex-wrap: nowrap;
}

.grupoSub {
  background-color: #add8e6;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  margin: 3px;
  cursor: pointer;
  white-space: nowrap;
}

header {
  display: flex;
  align-items: center;
}

.headerContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  max-width: 50px;
  margin-right: 20px;
}

h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

hr {
  margin: 10px 0;
  border: 1px solid #ddd;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.menuItem {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.itemImage {
  max-width: 100px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.menuItem:hover .itemImage {
  transform: scale(1.1);
}

.itemDescription {
  flex-grow: 1;
}

.Lupa {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end; /* Alinhamento à direita */
}

.searchContainer {
  display: flex;
  align-items: center;
}

.Lupa input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 60%;
  background-color: #d9d9d9;
}

.Lupa button {
  background-color: #add8e6;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin-left: 5px; /* Espaço entre o campo de pesquisa e o botão */
}

.Lupa img {
  max-width: 20px;
  max-height: 20px;
}

.centerArrowUp {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #add8e6;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.centerArrowUp img {
  max-width: 20px;
  max-height: 20px;
}

.grupoSub.selected {
  background-color: #8eb5e0;
  color: #fff;
}
.custom-link {
  /* Adicione os estilos desejados aqui */
  color: inherit;
  text-decoration: none;
}

.custom-link:hover {
  /* Adicione os estilos de hover desejados aqui */
  text-decoration: underline;
  color: #333; /* Pode ajustar a cor conforme necessário */
}
